@*El modelo a usar para el Index es el IEnumerable que recibe al ViewModel pues vamos a listar las categorias*@
@*model IEnumerable<CategoriaViewModel>*@

@model PaginacionRespuesta<CategoriaViewModel>

@{
    ViewData["Title"] = "Categorías";
}

@*Como vamos a mostrar o listar las categorias nos apoyamos de una tabla*@

<h1>Categorías</h1>
<h5>La categoría nos permite indicar en qué gastamos nuestro dinero, también de donde provienen nuestros ingresos</h5>

<a asp-controller="Categorias" asp-action="Crear" class="btn btn-primary mb-3">Crear nueva</a>

<div class="row">
    <label>Cantidad de registros a mostrar:</label>
    <div class="mb-3 col-auto">
        <select asp-for="@Model.RegistrosPorPagina" id="cantidadRegistrosPorPagina" class="form-select">
            <option>3</option>
            <option>5</option>
            <option>10</option>
        </select>
    </div>
</div>

<partial name="_Paginacion" />

@*thead = agrupar encabezados
  tbody = cuerpo de la tabla
  tr = fila de la tabla
  th = celda de encabezado
  td = celda de datos

  Utilizamos el foreach para recorrer la coleccion del IEnumerable para poder listar las categorias

*@
<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Tipo</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var categoria in Model.Elementos)
        {
            <tr>
                <td>
                    @*Enlaces para editar y borrar una categoría
                      Le pasamos el route-id para que sepa que categoria va a editar o borrar
                    *@
                    <a class="btn btn-primary" asp-controller="Categorias" asp-action="Editar" asp-route-id="@categoria.Id">Editar</a>
                    <a class="btn btn-danger" asp-controller="Categorias" asp-action="Borrar" asp-route-id="@categoria.Id">Borrar</a>
                </td>
                <td>
                    @categoria.Nombre
                </td>
                <td>
                    @categoria.TipoOperacionId.ToString()
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $("#cantidadRegistrosPorPagina").change(function(){
            const registrosPorPagina = $(this).val();
            location.href=`/categorias/?pagina=1&registrosPorPagina=${registrosPorPagina}`
        });
    </script>
}