@model PaginacionRespuesta

@{
    var plantillaLink = string.Concat(Model.BaseURL, "?pagina={0}&registrosPorPagina={1}");
    var activarBotonAnterior = Model.Pagina > 1;
    var activarBotonSiguiente = Model.Pagina < Model.CantiadTotalDePaginas;
}

<nav>
    <ul class="pagination">

        <li class="page-item @(activarBotonAnterior ? null : "disabled")">
            @if (activarBotonAnterior)
            {
                <a class="page-link" href="@string.Format(plantillaLink, Model.Pagina-1, Model.RegistrosPorPagina)">
                    Anterior
                </a>
            }
            else
            {
                <span class="page-link">Anterior</span>
            }
        </li>

        @for (var pagina = 1; pagina <= Model.CantiadTotalDePaginas; pagina++)
        {
            <li class="page-item @(pagina == Model.Pagina ? "active" : null)">
                <a class="page-link" href="@string.Format(plantillaLink, pagina, Model.RegistrosPorPagina)">
                    @pagina
                </a>
            </li>
        }

       <li class="page-item @(activarBotonSiguiente ? null : "disabled")">
                @if (activarBotonSiguiente)
                {
                    <a class="page-link" href="@string.Format(plantillaLink, Model.Pagina + 1, Model.RegistrosPorPagina)">
                        Siguiente
                    </a>
                }
                else
                {
                    <span class="page-link">Siguiente</span>
                }
            </li>
    </ul>

</nav>

